<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Пользователи</title>
    <link href="/styles/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<h3>Пользователи</h3>
<table class="users" id="minimalist-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Логин</th>
        <th>Роль</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td>
            <a th:href="@{/user/edit/} + ${user.id}" th:text="${user.id}"/>
        </td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.role}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/user/create}">Новый пользователь</a>

</body>
</html>
